#Thu Jan 25 14:40:34 IST 2024
mail.smtp.other.host=
mail.smtp.username=ENC1(/lzzmkwyeyghkkkTk2kMtpqci87JXJz16aTZVHj49kclxmiPiluLZQE08gx+NMElPFFzQm1p03YJTR56EN16Qg\=\=)
mail.smtp.port=587
mail.smtp.toEmail=ENC1(bWkzrxCST7lXd2EkW6mj862DonAhtVRVpbL7BjLXLcZ7m9wDKF/TDqpd19Kah12cr1Zjej0cEuiJdwzugLUNSA\=\=)
mail.smtp.other.port=
mail.smtp.password=ENC1(CmhJv3K9ortDWI8nV9Bag38R/F9OKzNZKU40eFpeXqEevNLuCqFxnHBx7Pmogy37MoU0X5LvpHU5KaEIpml7Kw\=\=)
mail.smtp.starttls.enable=false
mail.smtp.host=smtp.gmail.com
mail.smtp.ssl.enable=false
mail.smtp.starttls.required=false
mail.smtp.timeout=60000
Encryptor.check=Provar
